.xenia-blog{
    height: 100vh;
}

$light-gray: #f2f5f8;
$dark-gray: #33475b;
 
.blogs-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  * {
    -webkit-font-smoothing: subpixel-antialiased;
  }
  a {
    text-decoration: none;
    color: $dark-gray;
  }
  .blog-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    min-height: 450px;
    background-color: $light-gray;
    position: relative;
    backface-visibility: hidden;
    padding-bottom: 25px;
    margin: 15px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    figure {
      height: 0px;
      position: relative;
      width: 100%;
      flex-grow: 2;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin: 0px;
      padding: 0px 0px 56.25%;
      overflow: hidden;
      img {
        display: block;
        position: absolute;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        padding: 0;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        max-width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .blog-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .blog-topic {
        font-size: 1rem;
        a {
          background-color: $light-gray;
          border-radius: 3px;
          display: block;
          padding: 15px 20px 10px 20px;
        }
      }
      .blog-title {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        line-height: 1.3;
        margin: 0px;
        a {
          display: block;
          padding: 10px 20px 30px 20px;
        }
      }
      .blog-footer {
        display: flex;
        justify-content: flex-start;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        a {
          font-weight: 600;
        }
        .blog-category {
          padding: 0 0 20px 20px;
        }
        .blog-date {
          padding: 0 0 20px 5px;
        }
      }
    }
    &:hover {
      -webkit-transform: scale(1.015) translateZ(0) perspective(1px);
      transform: scale(1.015) translateZ(0) perspective(1px);
      box-shadow: 0 10px 50px -5px #ccc;
      transition: 0.3s ease-in-out;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
}

@media screen and (max-width: 768px) {
  .blogs-container {
    .blog-card {
      -ms-flex: 0 0 44%;
      flex: 0 0 44%;
      max-width: 44%;
    }
  }
}
